{% extends "base.html" %}

{% block content %}
    {% if current_user.is_anonymous %}
    <h1>Hello new user feel free to join this microblog.</h1>
    {% else %}
    <h1>Hello, {{ current_user.username }}! This is what the world has to say.</h1>
    {% endif %}
    {% if form%}
    <form action"" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{form.post.label}}<br>
            {{ form.post(cols=32, rows=4) }}<br>
            {% for error in form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% endif %}
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
{% endblock %}
